{% extends 'index.html' %}
{% load serialize_url %}
{% block css %}
    <link href="/static/css/commons.css" rel="stylesheet">
{% endblock %}

{% block page-title %}
    项目管理
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">首页</a></li>
    <li><a href="{% url 'application' %}">应用管理</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel">
        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">
                <a href="{% url 'application_add' %}" class="btn btn-success">添加</a>
            </div>
            <h3 class="panel-title">应用信息表</h3>
        </div>
        <!--Default panel contents-->
        <div class="panel-body">
            <!--Table-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>应用名称</th>
                    <th>应用目录名</th>
                    <th>IP地址</th>
                    <th>所属项目</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for application_obj in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ application_obj.name }}</td>
                        <td>{{ application_obj.path_name }}</td>
                        <td>{{ application_obj.ip }}</td>
                        <td>{{ application_obj.project.name }}</td>
                        <td>
                            {% serialize_application_url application_obj %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="right">
            <ul class="pagination pagination-sm no-margin">
                {{ page_str }}
            </ul>
        </div>
    </div>

    <!--模态-->
    <div id="application-del-div" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog"
         aria-hidden="false"
         style="display: none; padding-right: 17px;">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button id="close-modal-div" type="button" class="bootbox-close-button close" data-dismiss="modal"
                            aria-hidden="true"
                            style="margin-top: -10px;">×
                    </button>
                    <div class="bootbox-body">确定删除?</div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-del" data-bb-handler="cancel" type="button" class="btn btn-default">取消</button>
                    <button id="confirm-del" data-bb-handler="confirm" type="button" class="btn btn-danger">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--警告-->
    <div id="application-del-fall" class="alert alert-danger fade in" style="display: none; position: fixed; top:50px;right:0;left:800px">
        <button class="close" data-dismiss="alert"><span>×</span></button>
        <strong>删除失败!</strong>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/application.js"></script>
{% endblock %}