{% extends 'index.html' %}
{% load serialize_url %}
{% block css %}
    <link href="/static/css/commons.css" rel="stylesheet">
{% endblock %}

{% block page-title %}
    日志管理
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">首页</a></li>
    <li><a href="{% url 'sync_log' %}">同步日志</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel">
        <!--Panel heading-->
        <div class="panel-heading">
            <h3 class="panel-title">同步日志</h3>
        </div>
        <!--Default panel contents-->
        <div class="panel-body">
            {% csrf_token %}
            <select id="app-select" class="form-control">
                {% for item in result_list %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <input type="button" id="update_btn" class="btn btn-success pull-right" value="更新">
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">更新结果</h3>
        </div>
        <div class="panel-body">
            <ul id="task_result_container">

            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/sync_log.js"></script>
{% endblock %}